@charset "UTF-8";
html,
body {
  width: 100%;
  height: 100%;
  color: #111111;
}

body {
  font-family: 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
}

a {
  color: #111111;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section h2 {
  font-size: 48px;
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto !important;
  }
  .single-page a {
    padding: 32px 18px;
    line-height: 38px !important;
  }
  #mainNav .navbar-nav > li > a {
    font-size: 15px !important;
  }
}

@media (min-width: 992px) {
  .come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1.5s;
  }
  .already-visible {
    transform: translateY(0);
    animation: none;
  }
  @keyframes come-in {
    to {
      transform: translateY(0);
    }
  }
}

.gumroad-follow-form-embed {
  zoom: 1;
}

.gumroad-follow-form-embed:before, .gumroad-follow-form-embed:after {
  display: table;
  line-height: 0;
  content: "";
}

.gumroad-follow-form-embed:after {
  clear: both;
}

.gumroad-follow-form-embed * {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
  float: left !important;
}

.gumroad-follow-form-embed input {
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  color: #aaa;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
  background-position: top right;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: caret;
  width: 65% !important;
  height: 52px !important;
  font-size: 18px;
}

.gumroad-follow-form-embed button {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  line-height: 100%;
  background: #006fff;
  border: 1px solid #0064e6;
  background: #0070FF;
  height: 52px !important;
  width: 35% !important;
}

@media (max-width: 991px) {
  .navbar a {
    margin: 0 auto;
  }
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  padding: 32px 0 10px 0;
}

#mainNav .navbar-brand {
  color: #111111;
  font-family: 'Calibri', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-weight: 200;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: black;
}

#mainNav .navbar-brand {
  margin: 0 auto;
}

#mainNav .navbar-toggler {
  display: none;
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li {
  position: relative;
  margin-left: 16px;
}

#mainNav .navbar-nav > li > a {
  font-size: 19px;
  font-family: 'Calibri', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
}

#mainNav .navbar-nav > li > a.active {
  color: #111111 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover {
  color: #0056b3;
}

#mainNav .navbar-nav > li > ul {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 999;
  background: #fff;
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#mainNav .navbar-nav > li > ul li a {
  padding: 16px 24px;
  display: block;
  text-decoration: none;
  width: 200px;
  font-weight: 600;
}

#mainNav .navbar-nav > li > ul li a:hover {
  background: #EFF7FC;
}

#mainNav .navbar-nav > li:hover
> ul {
  display: inline-block;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #111111;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #111111;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #111111;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
}

.masthead .size {
  height: 67vh;
}

.masthead p {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 52px;
}

@media (max-width: 576px) {
  .masthead p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
  }
}

.masthead h1 {
  font-weight: bolder;
}

.masthead h1 span {
  font-weight: 400;
}

@media (min-width: 992px) {
  .masthead h1 {
    margin: 0 0;
    font-size: 80px;
    line-height: 90px;
  }
}

@media (max-width: 991px) {
  .masthead h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 4em;
  }
}

.masthead .btn {
  padding: 24px 66px 24px 66px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.28);
}

@media (max-width: 991px) {
  .masthead .btn {
    margin-bottom: 20px;
  }
}

.masthead .btn .btn-primary {
  background-color: #0070FF;
  border-color: #0070FF;
}

.masthead .btn-outline-primary {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid #0070FF;
}

.masthead .btn-outline-primary i {
  font-size: 28px;
  margin-right: 8px;
}

.masthead .compatible {
  margin-top: 56px;
  color: #757575;
  font-size: 24px;
}

@media (max-width: 991px) {
  .masthead .compatible {
    margin: 56px 0;
  }
}

.masthead .compatible p {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
}

section.download {
  position: relative;
  padding: 226px 0;
  background: #F5F5F5;
}

section.download h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 48px;
  color: #111111;
}

section.download h2 strong {
  font-weight: 600;
}

@media (max-width: 991px) {
  section.download h2 {
    font-size: 24px;
  }
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 24px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  section.download .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.download h2 {
    font-size: 48px;
  }
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("../img/bg-cta.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.cta .cta-content {
  position: relative;
  z-index: 1;
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
  padding: 96px 0;
}

section.contact h2 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 600;
  color: #111111;
}

section.contact p {
  font-size: 16px;
  margin-bottom: 0px;
}

section.contact .people {
  margin-top: 96px;
}

section.contact .people img {
  width: 100px;
}

section.contact .people h3 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 24px;
}

section.contact .people a {
  color: #111111;
}

section.contact .people a:hover {
  color: #111111;
}

section.contact .reach h3 {
  font-weight: 600;
  font-size: 24px;
  margin-top: 96px;
}

section.contact .reach img {
  width: 168px;
}

section.contact .reach p {
  margin-top: 8px;
}

footer {
  padding: 0 0 56px 0;
  text-align: left;
  font-size: 18px;
  color: #757575;
}

footer hr {
  border-top: 1px solid #eee;
  width: 100%;
  max-width: 100%;
  padding-bottom: 64px;
}

footer a {
  color: #757575;
}

footer p {
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: #111111;
}

footer h2 {
  font-weight: bold;
  text-align: center;
  color: #111111;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.fmenu a {
  text-decoration: none;
}

.foot-menu {
  background: rgba(104, 187, 225, 0.3);
  border-radius: 30px;
  padding: 4px 16px;
  font-size: 14px;
  color: #0C2550;
  display: inline-block;
  margin-bottom: 8px;
}

.bg-primary {
  background: #0070FF;
  background: -webkit-linear-gradient(#0070FF, #0065e6);
  background: linear-gradient(#0070FF, #0065e6);
  background-color: #0070FF;
  border-color: #0070FF;
}

.text-primary {
  color: #111111;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

@media (max-width: 991px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #0070FF;
  background-color: #0070FF;
}

.modal {
  background: #000;
}

.modal-dialog {
  max-width: 100%;
  background: transparent;
  border: 0px solid transparent;
}

.modal-content {
  height: 95vh;
  width: 90vw;
  margin: 0 auto;
  background: transparent;
  border: 0px solid transparent;
}

.modal-header {
  border: 0px solid transparent;
}

button.close {
  position: fixed;
  top: 8px;
  right: 24px;
  background: #fff;
  border-radius: 50%;
  width: 56px;
}

.btn {
  border-radius: 300px;
  font-family: 'Calibri', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

.wonderland .btn-primary {
  background-color: #31B4F2;
  border-color: #31B4F2;
}

.wonderland .btn-primary:hover {
  background: #289FD7 !important;
}

.wonderland .btn-primary:active, .wonderland .btn-primary:focus {
  box-shadow: 0 0 0 0 transparent !important;
  outline: 0px !important;
  border: 1px solid #31B4F2 !important;
  transform: all 0.2 ease-in-out;
}

.wonderland .btn-outline-primary {
  border-color: #31B4F2;
  color: #31B4F2;
}

.wonderland .btn-outline-primary:hover {
  background: #F3FAFF !important;
  box-shadow: 0 0 0 transparent;
}

.wonderland .btn-outline-primary:active, .wonderland .btn-outline-primary:focus {
  background: #F3FAFF !important;
  color: #31B4F2 !important;
  box-shadow: 0 0 0 0 transparent !important;
  outline: 0px !important;
  border: 2px solid #31B4F2 !important;
}

.bigimg {
  text-align: center;
}

@media (max-width: 991px) {
  .bigimg {
    margin-top: 32px;
  }
}

.bigimg img {
  width: 100%;
  max-width: 360px;
  max-height: 670px;
}

.lightsoff {
  padding: 90px 0;
  background: #434A4E;
  color: #fff;
  position: relative;
}

.lightsoff p {
  margin-bottom: 0px;
}

.lightsoff.dime {
  background: #f5f5f5;
  position: relative;
  color: #000;
}

.lightsoff img {
  max-width: 880px;
  width: 100%;
  max-height: 900px;
  padding: 10px;
}

.lightsoff h2 {
  margin-bottom: 40px;
}

.lightsoff ul {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: left;
}

.lightsoff ul li {
  line-height: 42px;
}

.video {
  padding: 80px 0;
  z-index: 9999;
  background: #fff;
}

.video .macbook .book {
  transition: all .4s ease-in-out;
  position: relative;
}

.video .macbook:hover .book {
  -webkit-filter: blur(3.5px);
  /* Safari 6.0 - 9.0 */
  filter: blur(3.5px);
}

.video .macbook {
  position: relative;
}

.video .macbook .play {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  opacity: .0;
  transition: all .4s ease-in-out;
}

.video .macbook:hover .play {
  opacity: 1;
}

.video h2 {
  margin-bottom: 32px;
  font-weight: bold;
}

@media (min-width: 992px) {
  .video h2 {
    font-size: 66px;
  }
}

.video p {
  font-size: 32px;
}

@media (min-width: 992px) {
  .video p {
    margin-bottom: 10px;
  }
}

.faq p {
  font-size: 20px !important;
}

.faq h2 {
  padding: 30px 0 60px 0;
  font-weight: bold;
  margin-bottom: 52px;
}

@media (min-width: 992px) {
  .faq h2 {
    font-size: 66px;
  }
}

@media (max-width: 991px) {
  .faq h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.follow {
  margin: 200px 0;
}

.wondertheme {
  background: #31B4F2;
  padding-bottom: 180px;
  color: #fff;
}

.wondertheme img {
  border-radius: 24px;
  box-shadow: 0 2px 83px 0px rgba(0, 0, 0, 0.17);
}

@media (max-width: 991px) {
  .wondertheme img {
    border-radius: 8px;
  }
  .wondertheme h2 {
    padding: 48px 0 32px 0;
  }
}

@media (min-width: 992px) {
  .wondertheme h2 {
    padding: 90px 0 66px 0;
  }
}

@media (max-width: 991px) {
  .components, .lightsoff, .buyit, .wondertheme {
    padding: 64px 0;
  }
  .components .mobile, .lightsoff .mobile, .buyit .mobile, .wondertheme .mobile {
    order: 2;
  }
  .components div, .lightsoff div, .buyit div, .wondertheme div {
    text-align: center;
  }
}

.components h2, .lightsoff h2, .buyit h2, .wondertheme h2 {
  font-weight: bold;
  margin-bottom: 52px;
}

@media (min-width: 992px) {
  .components h2, .lightsoff h2, .buyit h2, .wondertheme h2 {
    font-size: 66px;
  }
}

.components p, .lightsoff p, .buyit p, .wondertheme p {
  font-size: 24px;
}

@media (max-width: 991px) {
  .components p, .lightsoff p, .buyit p, .wondertheme p {
    text-align: left !important;
  }
}

.components .comp, .lightsoff .comp, .buyit .comp, .wondertheme .comp {
  height: 100%;
}

.buyit img {
  width: 180px;
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  .buyit {
    height: 100vh;
  }
  .buyit .row {
    height: -moz-available;
    /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    height: fill-available;
  }
}

.buyit h2 {
  color: #111111;
  padding: 10px 0 90px 0;
}

.buyit p {
  font-size: 16px;
}

.buyit .pricetable, .follow .pricetable {
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 46px 11px rgba(13, 45, 75, 0.1);
  transition: all 0.5s ease;
}

.buyit .pricetable .btn-outline-primary, .follow .pricetable .btn-outline-primary {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1) !important;
}

.buyit .pricetable:hover, .follow .pricetable:hover {
  box-shadow: 0 1px 20px 11px rgba(13, 45, 75, 0.1);
}

.buyit .pricetable small, .follow .pricetable small {
  font-size: 17px;
}

.buyit .pricetable h4, .follow .pricetable h4 {
  font-weight: bold;
  font-size: 22px;
}

.buyit .pricetable ul, .follow .pricetable ul {
  text-align: left;
  list-style: none;
}

.buyit .pricetable ul li:before, .follow .pricetable ul li:before {
  content: '✔ ';
  color: #31B4F2;
}

.buyit .pricetable ul li.no:before, .follow .pricetable ul li.no:before {
  content: '✖ ';
  color: #777777;
}

.buyit .pricetable h3, .follow .pricetable h3 {
  font-weight: bold;
  font-size: 30px;
  color: #31B4F2;
  margin: 24px 0 0 0;
}

.buyit .pricetable h4, .follow .pricetable h4 {
  margin-bottom: 24px;
}

.buyit .pricetable span, .follow .pricetable span {
  font-weight: bold;
  font-size: 30px;
  display: block;
}

.buyit .pricetable strong, .follow .pricetable strong {
  margin-bottom: 24px;
  display: inline-block;
}

.buyit .pricetable .btn, .follow .pricetable .btn {
  padding: 16px 24px 16px 24px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.28);
}

@media (max-width: 991px) {
  .buyit .pricetable, .follow .pricetable {
    margin: 24px;
  }
}

a.mac {
  width: 100%;
  cursor: pointer;
}

@media (max-width: 991px) {
  .first h2 {
    font-size: 22px;
  }
}
