.home {
	margin-top: 90px;
	.preview {
		img {
			border-radius: 8px;
			box-shadow: 0 6px 12px 0 rgba(0,0,0,.1);
			transition: all 0.5s ease;
			&:hover {
				box-shadow: 0 0 0 0 transparent;
			}
		}
	}
	.titles {
		padding: 16px 0;
		h2 {
			font-size: 1.5em;
			font-weight: bold;
			display: inline-block;
			color: #000;
		}
		.price {
			font-family: "helvetica neue";
			float: right;
			background: $main-color;
			border-radius: 4px;
			color: #fff;
			font-weight: 500;
			padding: 4px 16px;
			font-size: 16px;
		}
		span {
			display: block;
			color: #666;
		}
	}
	a:hover {
		text-decoration: none;
	}
}