.masthead {
    @media (min-width: 992px) {
        height: 100vh;
    }
    .size {
        height: 67vh;
    }
    
    p {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 52px;
        @media (max-width: 576px) {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 60px;
        }
    }
    h1 {
    font-weight: bolder;
    
        span {
            font-weight: 400;
        }
        @media (min-width: 992px) {
            margin: 0 0;
            font-size: 80px;
            line-height: 90px;
        }
        @media (max-width: 991px) {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 4em;
        }
    }
    .btn {
        padding: 24px 66px 24px 66px;
        border-radius: 8px;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.28);
        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    .btn-primary {
        background-color: $main-color;
        border-color: $main-color;
        }
    }
    .btn-outline-primary {
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
            border: 2px solid $main-color;
            i {
                font-size: 28px;
                margin-right: 8px;
            }
        }
    .compatible {
        margin-top: 56px;
        @media (max-width: 991px) { 
            margin: 56px 0;
        }
        color: #757575;
        font-size: 24px;
        p {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 4px;
        }

    }
}