$wonder: #31B4F2;
.wonderland {
    .btn-primary {
        background-color: $wonder;
        border-color: $wonder;
        &:hover {
            background: #289FD7 !important;
        }
        &:active, &:focus {
            box-shadow: 0 0 0 0 transparent !important;
            outline: 0px !important;
            border: 1px solid $wonder !important;
            transform: all 0.2 ease-in-out;
        }
    }
    .btn-outline-primary {
        border-color: $wonder;
        color: $wonder;
        &:hover {
            background: #F3FAFF !important;
            box-shadow: 0 0 0 transparent;
        }
        &:active, &:focus {
            background: #F3FAFF !important;
            color: $wonder !important;
            box-shadow: 0 0 0 0 transparent !important;
            outline: 0px !important;
            border: 2px solid $wonder !important;
        }
    }
}
.bigimg {
    text-align: center;
     @media (max-width: 991px) {
        margin-top: 32px;
    }
}
.bigimg img {
    width: 100%;
    max-width: 360px;
    max-height: 670px;
}
.lightsoff {
    padding: 90px 0;
    background: #434A4E;
    color: #fff;
    position: relative;
    p {
    margin-bottom: 0px;
    }
    &.dime {
    background: #f5f5f5;
    position: relative;
    color: #000;
    }
  @media (min-width: 992px) {
        
    }
    img {
        max-width: 880px;
        width: 100%;
        max-height: 900px;
        padding: 10px;
    }
    h2 {
      margin-bottom: 40px;
    }
    ul {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
      text-align: left;
      li {
        line-height: 42px;
      }
    }
}

.video {
  padding: 80px 0;
  z-index: 9999;
  background: #fff;
    .macbook {
        .book {
        transition: all .4s ease-in-out;
        position: relative;
        }
        &:hover .book  {
            -webkit-filter: blur(3.5px); /* Safari 6.0 - 9.0 */
            filter: blur(3.5px);
        }
      
    }
    .macbook {
      position: relative;
      .play {
        height: 100px;
        width: 100px;
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        opacity: .0;
        transition: all .4s ease-in-out;
      }
      &:hover {
        .play {
          opacity: 1;
        }
      }
    }
    h2 {
       @media (min-width: 992px) {
        font-size: 66px;
      }
      margin-bottom: 32px;
      font-weight: bold;
    }
    p {
      font-size: 32px;
      @media (min-width: 992px) {
      margin-bottom: 10px;
      }
    }
}
.faq {
  p {
    font-size: 20px !important;
  }
  h2 {
        padding: 30px 0 60px 0;
        font-weight: bold;
        margin-bottom: 52px;
        
        @media (min-width: 992px) {
          font-size: 66px;
        }
        @media (max-width: 991px) {
            text-align: center;
            margin-bottom: 40px;
            }
         }
}
.follow {
    margin: 200px 0;
}
.wondertheme {
    background: $wonder;
    padding-bottom: 180px;
    color: #fff;
    img {
    border-radius: 24px;
    box-shadow: 0 2px 83px 0px rgba(0,0,0,.17)
    }
    @media (max-width: 991px) {
    img {
        border-radius: 8px;
        }
    h2 {
        padding: 48px 0 32px 0;
        }
    }
    @media (min-width: 992px) {
        h2 {
        padding: 90px 0 66px 0;
        }
    }
}
.components, .lightsoff, .buyit, .wondertheme {
    @media (max-width: 991px) {
      padding: 64px 0;
        .mobile {
            order: 2;
        }
        div {
           text-align: center;
        }
    }
    h2 {
        font-weight: bold;
        
        margin-bottom: 52px;
        @media (min-width: 992px) {
          font-size: 66px;
        }
         }
    p {
        font-size: 24px;
        @media (max-width: 991px) {
            text-align: left !important;
            
         }
   }
    .comp {
        height: 100%;
    }
}
.buyit {
  img {
    width: 180px;
    padding-bottom: 20px;
  }
  @media (min-width: 992px) {
        height: 100vh;
        .row {
            height: -moz-available;          /* WebKit-based browsers will ignore this. */
            height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
            height: fill-available;
        }
    }
    h2 {
      color: $theme-primary;
      padding: 10px 0 90px 0;
    }
    p {
      font-size: 16px;
    }
}
.buyit, .follow {

    .pricetable {
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 1px 46px 11px rgba(13,45,75,0.1);
        transition: all 0.5s ease;

        .btn-outline-primary {
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1) !important;
        }

        &:hover {
            box-shadow: 0 1px 20px 11px rgba(13,45,75,0.1);
        }
        small {
            font-size: 17px;
        }
        h4 {
            font-weight: bold;
            font-size: 22px;
        }
        ul {
          text-align: left;
          list-style: none;
        }
        ul li:before {
          content: '✔ ';
          color: $wonder;
        }
        ul li.no:before {
          content: '✖ ';
          color: $gray-light;
        }
        h3 {
            font-weight: bold;
            font-size: 30px;
            color: $wonder;
            margin: 24px 0 0 0;
        }
        h4 {
          margin-bottom: 24px;  
        }
        span {
            font-weight: bold;
            font-size: 30px;
            display: block;
        }
        strong {
            margin-bottom: 24px;
            display: inline-block;
        }
        .btn {
            padding: 16px 24px 16px 24px;
            border-radius: 4px;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            box-shadow: 0 1px 6px 0 rgba(0,0,0,0.28);
        }
        @media (max-width: 991px) {
            margin: 24px;
        }
    }
}

a.mac {
  width: 100%;
  cursor: pointer;
}
@media (max-width: 991px) {

  .first h2 {
    font-size: 22px;
  }
}